
  .blogfirstpart{
    align-items: start;
    padding: 4%;
    border-bottom: 2px;
  }
  
  
  .blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 4%;
    padding-right: 4%;
    flex-wrap: wrap;
  }
  
 .mainblogcard{
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin: 5%;
    background-color: #333333;
    justify-content: space-between;
    height: fit-content;
 }

 .titlewidth{
    color: #FAC741;
    height: fit-content;
 }
 .imagestyle{
    
    width: 200px;
    height: 200px;
    object-fit:"cover";
 }
 
 @media (max-width: 700px) {
   .imagestyle{
    
      width: 80px;
      height: 80px;
      align-content: center;
      align-items: center;
      object-fit:"cover";
   }
   .titlewidth{
      color: #FAC741;
      font-size: large;
      height: fit-content;
   }
   .blogfirstpart p{
      font-size: small;
      
   }


 }
