


.backgoundwhiteindex{
  background-color: #050505;
  padding: 2rem;
}
.mainindexdiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cantw{
  justify-content: center;
      font-style: normal;
      text-align: center;
      font-weight: 700;
      color: #000000 ;
      font-size: 64px;
      line-height: 1;

}
.blogsmain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.aboutpagebackground{

  display: flex;
  flex-direction: column;
  margin-right: 170px;
  margin-left: 170px;
  margin-top: 20px;

  align-items: center;
  background: #333333;
  border-radius: 20px;
  /* padding: 50px; */
}
.hey{
      justify-content: center;
      font-style: normal;
      font-weight: 700;
      color: #000000 ;
      font-size: 64px;
      line-height: 1;

}
.email{
  background-color: #000000;
  color: white;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.smilediv{
  margin-left: 80%;
}
.aboutpagebackground p{

  display: flex;
      justify-content: center;
      font-style: normal;
      color: #333333 ;
      font-size: 18px;
      padding-top: 10px;
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;
    }

    .aboutme{

      display: flex;
      justify-content: center;
      font-style: normal;
      font-weight: 700;
      color: #ffffff ;
      font-size: 72px;
      line-height: 112.2%;
      letter-spacing: -3.44478px;

}
.aboutmeimage{
  display: flex;
  justify-content: center;
  margin: 20px;
}


.navbarbottombox {

  display: flex;
  justify-content: space-around;
  height: auto;
  flex-direction: column;
  margin-right: 40px;
  margin-left: 40px;
  /* margin-top: 20px; */
  background: #333333;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 2%;
  padding-right: 2%;
}
.bgmaincolor{
  width: 100%;
  align-items: flex-end;
  justify-items: right;
  align-content: flex-end;
  padding-right: 5rem;
  padding-top: 10rem;
}
.homepagetext{
  display: flex;
  text-decoration: solid;
  justify-content: left;
  align-items: start;
}
.backgoundwhite {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: #030303;
}

.td{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;

}
.hey p{
  justify-content: center;
    font-style: normal;
    font-weight: 500;
    color: #f9f9f9 ;
    margin-top: 8%;
    font-size: 28px;
    line-height: 1;

}



/* Mobile */
@media (max-width: 700px) {
  .hey{
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    color: #000000 ;
    text-align: center;
    font-size: 28px;
    line-height: 1;
}

.mainindexdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.allin{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.email{
  background-color: #090909;
  color: white;
  padding: 0.7rem;
  align-items: center;
  align-content: center;
 
}

.navbarbottombox {

  display: flex;
  justify-content: space-around;
  height: auto;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
  /* margin-top: 20px; */
  background: #333333;
  border-radius: 20px;
  padding: 25px;
}
.hey p{
  justify-content: center;
    font-style: normal;
    font-weight: 400;
    color: #FAC741 ;
    text-align: center;
    font-size: 16px;
    line-height: 1;

}


.aboutpagebackground{

  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;

  align-items: center;
  background: #333333;
  border-radius: 10px;
  /* padding: 50px; */
}

.mainindexdiv{
  display: flex;
  flex-direction:column-reverse;
  justify-content: space-around;
}

.aboutmeimage{
  display: flex;
  justify-content: center;
  margin: 20px;
  height: 120px;
  align-items: center;
  width: 120px;
}
.aboutmseimage{

  justify-content: center;
  margin: 20px;
  height: 220px;
  align-items: center;
  width: 220px;
}

 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .hey{
    
    font-style: normal;
    font-weight: 700;
    color: #000000 ;
    font-size: 32px;
    align-items: center;
    line-height: 1;
}


.aboutmseimage{
  display: flex;
  justify-content: center;
  margin: 20px;
  height: 220px;
  width: 220px;
}
  
}



.mainnav ul{
  display: flex;
  justify-content: center;
  font-size: large;
  margin-top: 2rem;
  

}
.mainnav li{
  list-style-type: none;
  padding: 2rem;
  font-style: bold;
}